# Music streaming services

Running a Pareto-II probability model to compare acquisition rates and forecast future growth of premium (paid) subscribers on three prominent music services. Based off of Prof. Peter Fader's STAT 476 course at Wharton.

#### Dataset sources:   
Spotify: [statista-spotify](https://www.statista.com/statistics/244995/number-of-paying-spotify-subscribers/)    
Apple: [statista-apple](https://www.statista.com/statistics/604959/number-of-apple-music-subscribers/)  
Pandora: [statista-pandora-estimates](https://www.statista.com/statistics/253850/number-of-pandoras-paying-subscribers/)

#### Methodology sources:  
Hardie, B. and Fader, P. [Applied Probability Models in Marketing Research](http://www.brucehardie.com/talks/supp_mats02_part1.pdf)  
Fader, P. ['STAT/MKTG 476/776 - 2018A, Section 401 Syllabus'](https://apps.wharton.upenn.edu/syllabi/2018A/MKTG476401/)

### Import data
Manually scraped data for each time period off of those three charts from Statista. Not all charts had values at each date.

In [113]:
import pandas as pd
import numpy as np
from datetime import datetime

import warnings
warnings.filterwarnings("ignore")

In [58]:
music = pd.read_excel('music-service-data.xlsx', 0)

Normalizing dates to a time variable.

In [63]:
# baseline for reference
baseline = np.datetime64('2010-01-01')

# month difference since baseline
music['t'] = music['Date'].apply(lambda x: (x.year - 2010) * 12 + (x.month - 1))

In [60]:
music.head()

        Date  Spotify  Apple  Pandora   t
0 2010-06-01      0.5    NaN      NaN   5
1 2010-12-01      NaN    NaN     0.63  11
2 2011-03-01      1.0    NaN      NaN  14
3 2011-06-01      1.5    NaN      NaN  17
4 2011-11-01      2.5    NaN      NaN  22

### Separation of analysis
Running the model on Spotify and then generalizing it to the other models

In [188]:
# separating the datasets
spotify = music[['t', 'Spotify']]
apple = music[['t', 'Apple']]
pandora = music[['t', 'Pandora']]

In [189]:
# creating parameters for each model and overall dataframe to compare
spotify_params = {'r': .5,
                 'alpha': .5,
                 'c': .5}
apple_params = spotify_params.copy()
pandora_params = spotify_params.copy()

def parameter_table(spotify_params, apple_params, pandora_params):
#     global spotify_params, apple_params, pandora_params
    return pd.DataFrame({'Spotify': spotify_params, 'Apple': apple_params, 'Pandora': pandora_params}).T[['r', 'alpha', 'c']]

# viewing parameter dataframe
parameter_table(spotify_params, apple_params, pandora_params)

           r  alpha    c
Spotify  0.5    0.5  0.5
Apple    0.5    0.5  0.5
Pandora  0.5    0.5  0.5

Running the Pareto II on Spotify using the `spotify_params` dictionary, and generalizing functions.   

The Pareto II is a probability mixture/Gaussian mixture model, taking the exponential-gamma distribution and incorporating duration-dependence hazard (increasing rate of events, such as using a service, over time).  
For more reference into the Pareto II, see [Wikipedia: Pareto II/Lomax Distribution](https://en.wikipedia.org/wiki/Pareto_distribution)

In [208]:
# CDF of the spotify data under random pre-set values
def compute_CDF(params, dataset):
    a = params['alpha']
    r = params['r']
    c = params['c']
    return 1 - (a/(a + dataset['t'])**c)**r

# PDF accordingly - this is not good Python syntax, but is most convenient
def compute_PDF(dataset):
    dataset['PDF'] = dataset['CDF'][0]
    for i in range(1, len(dataset)):
        dataset['PDF'][i] = dataset['CDF'][i] - dataset['CDF'][i - 1]
    return dataset['PDF']

# Incrementals
def compute_incremental(dataset, name):
    dataset['x_t'] = dataset[name][0]
    for i in range(1, len(dataset)):
        dataset['x_t'][i] = dataset[name][i] - dataset[name][i - 1]
    return dataset['x_t']

spotify['x_t'] = compute_incremental(spotify, 'Spotify')
spotify['CDF'] = compute_CDF(spotify_params, spotify)
spotify['PDF'] = compute_PDF(spotify)

In [210]:
# computing log-likelihoods
def compute_LL(params, dataset):
    dataset['LL'] = np.log(dataset['PDF']) * dataset['x_t']
    params['sum_LL'] = sum(dataset['LL'].dropna())
    return params

spotify_params = compute_LL(spotify_params, spotify)
spotify['sum_E[X]'] = spotify['CDF'] * 100

In [219]:
# Apple and Pandora
apple['x_t'] = compute_incremental(apple, 'Apple')
apple['CDF'] = compute_CDF(apple_params, apple)
apple['PDF'] = compute_PDF(apple)
apple['sum_E[X]'] = apple['CDF'] * 100
apple_params = compute_LL(apple_params, apple)

pandora['x_t'] = compute_incremental(pandora, 'Pandora')
pandora['CDF'] = compute_CDF(pandora_params, pandora)
pandora['PDF'] = compute_PDF(pandora)
pandora['sum_E[X]'] = pandora['CDF'] * 100
pandora_params = compute_LL(pandora_params, pandora)

In [220]:
# dropping null values
apple_clean = apple.dropna()
spotify_clean = spotify.dropna()
pandora_clean = pandora.dropna()

In [221]:
apple_clean

     t  Apple       CDF       PDF         LL  x_t   sum_E[X]
19  73   11.0  0.758502  0.000828  -7.095920  1.0  75.850221
20  74   12.0  0.759317  0.000815  -7.112928  1.0  75.931671
21  75   13.0  0.760118  0.000801  -7.129707  1.0  76.011767
22  76   14.0  0.760905  0.000788  -7.146264  1.0  76.090547
23  77   15.0  0.761681  0.000775  -7.162605  1.0  76.168050
24  79   16.0  0.763194  0.001513  -6.493518  1.0  76.319372
25  80   17.0  0.763933  0.000739  -7.210383  1.0  76.393259
26  83   20.0  0.766082  0.002150 -18.427494  3.0  76.608214
33  99   40.0  0.776113  0.000566 -14.953512  2.0  77.611282

### Maximum likelihood estimation
Source: [Rob Hicks, WM.edu](http://rlhick.people.wm.edu/posts/estimating-custom-mle.html)

In [196]:
from scipy.stats import norm
import statsmodels.api as sm
from statsmodels.base.model import GenericLikelihoodModel
from scipy.optimize import minimize

In [ ]:
# MLE, assuming 100MM people in population - unfinished